header {
    position: fixed;
    width: 100%;
    background: rgba(#000, 0.5);
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    backdrop-filter: blur(0.5rem);
    .logo {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
        > img {
            height: 36px;
            @media(min-width: 768px) {
                height: 52px;
            }
        }
        > span {
            font-size: 1.8rem;
            line-height: 1;
            font-weight: bold;
            text-align: center;
            margin-left: 0.5rem;
            span {
                display: block;
                text-transform: uppercase;
                font-weight: normal;
                font-size: 0.8rem;
                letter-spacing: 3px;
            }
        }
    }
    .countdown {
        font-size: 0.5rem;
        line-height: 1;
        text-align: center;
        height: 100%;
        font-weight: 100;
        @media(min-width: 768px) {
            font-size: 0.7rem;
        }
        span {
            display: block;
            font-size: 1.6rem;
            font-weight: normal;
            @media(min-width: 768px) {
                font-size: 1.8rem;
            }
        }
    }
    #nav-toggle {
        width: 36px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        @media(min-width: 768px) {
            display: none;
        }
        &:focus {
            outline: none;
        }
        > i {
            display: block;
            height: 4px;
            background-color: #fff;
            border-radius: 2px;
            transition: 0.2s all ease-in-out;
            pointer-events: none;
            @at-root #app[data-navopen=true] & {
                background-color: #0fa;
            }
        }
    }
}