$breakpoint-sm: 374px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$color-link: #0fa;
$color-link-hover: lighten($color-link, 20);

//global
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    color: #fff;
                        text-shadow: 2px 2px 10px rgba(#000, 0.5);
    height: 100vh;
}
a {
    color: $color-link;
    transition: 0.2s all ease-in-out;
    &:hover {
        color: $color-link-hover;
    }
}
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000 url("/images/blur-bg.jpg") center center no-repeat;
    background-size: cover;
}
.button {
    display: flex;
    width: 220px;
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: bold;
    height: 50px;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    text-transform: uppercase;
    user-select: none;
    box-shadow: 2px 2px 10px rgba(#000, 0.5);
    transition: 0.2s all ease-in-out;
    &:hover {
        box-shadow: 2px 2px 5px rgba(#000, 0.5);
        transform: rotate(1deg);
    }
    &.primary {
        background-color: $color-link;
        color: #000;
        text-shadow: none;
        &:hover {
            background-color: $color-link-hover;
        }
    }
    &.secondary {
        border: 2px solid #fff;
        background-color: rgba(#000, 0.2);
        color: #fff;
        &:hover {
            background-color: rgba(#000, 0.3);
        }
    }
}

header {
    position: fixed;
    width: 100%;
    background: rgba(#000, 0.5);
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    backdrop-filter: blur(0.5rem);
    .logo {
        display: flex;
        align-items: center;
        > img {
            height: 36px;
            @media(min-width: $breakpoint-md) {
                height: 52px;
            }
        }
        > div {
            font-size: 1.8rem;
            line-height: 1;
            font-weight: bold;
            text-align: center;
            margin-left: 0.5rem;
            span {
                display: block;
                text-transform: uppercase;
                font-weight: normal;
                font-size: 0.8rem;
                letter-spacing: 3px;
            }
        }
    }
    .countdown {
        font-size: 0.5rem;
        line-height: 1;
        text-align: center;
        height: 100%;
        font-weight: 100;
        @media(min-width: $breakpoint-md) {
            font-size: 0.7rem;
        }
        span {
            display: block;
            font-size: 1.6rem;
            font-weight: normal;
            @media(min-width: $breakpoint-md) {
                font-size: 1.8rem;
            }
        }
    }
    .nav-toggle {
        width: 36px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        @media(min-width: $breakpoint-md) {
            display: none;
        }
        i {
            display: block;
            height: 4px;
            background-color: #fff;
            border-radius: 2px;
            transition: 0.2s all ease-in-out;
            body.nav-open & {
                background-color: #0ff;
            }
        }
    }
}
nav {
    position: fixed;
    top: 65px;
    bottom: 0;
    z-index: 1;
    background: rgba(#000, 0.5);
    opacity: 0;
    width: 200px;
    transform: translateX(-100px);
    pointer-events: none;
    transition: 0.2s all ease-in-out;
    backdrop-filter: blur(0.5rem);
    display: flex;
    flex-direction: column;
    overflow: auto;
    @media(min-width: $breakpoint-md) {
        opacity: 1;
        pointer-events: all;
        transform: none;
        top: 76px;
    }
    body.nav-open & {
        opacity: 1;
        pointer-events: all;
        transform: translateX(0);
    }
    > a {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        line-height: 1;
        font-weight: bold;
        cursor: pointer;
        align-items: center;
        transition: 0.2s all ease-in-out;
        color: #fff;
        &:hover {
            background-color: rgba(#fff, 0.05);
            border-right: 5px solid $color-link-hover;
            color: #fff;
            i {
                color: $color-link-hover;
            }
        }
        > i {
            margin-right: 0.25rem;
            color: $color-link;
        }

    }
    .something-useful {
        margin-top: auto;
        background-color: rgba(#fff, 0.1);
        padding: 1rem;
        margin: auto 1rem 1rem 1rem;
        border-radius: 0.5rem;
        font-size: 0.7rem;
        text-align: center;
    }
}
main {
    display: flex;
    position: relative;
    padding: 1rem;
    padding-top: calc(64px + 1rem);
    @media(min-width: $breakpoint-md) {
        padding: calc(76px + 1rem) 1rem 1rem calc(200px + 1rem);
    }
    @media(min-width: $breakpoint-lg) {
        padding: calc(76px + 2rem) 2rem 2rem calc(200px + 2rem);
    }
    section {
        display: none;
        position: relative;
        width: 100%;
        max-width: $breakpoint-lg;
        margin: 0 auto;
        &:first-of-type {
            display: block;
        }
        &.iframe {
            padding-top: 56.25%;
            position: relative;
            iframe {
                border: 0;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
    #home {
        .user-info {
            display: flex;
            margin-bottom: 1rem;
            align-items: center;
            justify-content: center;
            @media(min-width: $breakpoint-lg) {
                margin-bottom: 2rem;
            }
            .user-photo {
                border: 5px solid #fff;
                box-shadow: 2px 2px 10px rgba(#000, 0.5);
                margin-right: 1rem;
                width: 33%;
                @media(min-width: $breakpoint-md) {
                    width: 25%;
                }
                @media(min-width: $breakpoint-lg) {
                    border: 10px solid #fff;
                    margin-right: 2rem;
                }
                img {
                    display: block;
                    width: 100%;
                }
            }
            .user-name {
                font-size: 1.4rem;
                @media(min-width: $breakpoint-md) {
                    font-size: 2rem;
                }
                span {
                    display: block;
                    font-size: 0.8rem;
                    font-weight: 100;
                    border-top: 1px solid rgba(#fff, 0.2);
                        @media(min-width: $breakpoint-md) {
                            font-size: 1rem;
                        }
                    }
            }
        }
        .tiles {
            display: grid;
            width: 100%;
            column-gap: 1rem;
            row-gap: 1rem;
            @media(min-width: $breakpoint-md) {
                grid-template: 1fr 1fr / 1fr 1fr;
            }
            @media(min-width: $breakpoint-lg) {
                column-gap: 2rem;
                row-gap: 2rem;
            }
            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                background-color: rgba(#fff, 0.2);
                width: 100%;
                border-radius: 0.25rem;
                box-shadow: 2px 2px 10px rgba(#000, 0.5);
                h2 {
                    text-align: center;
                }
                .labeled-money {
                    display: flex;
                    width: 100%;
                    padding: 0 1rem;
                    margin-bottom: 1rem;
                    justify-content: space-around;
                    max-width: 400px;
                    &.larger {
                        > div {
                            font-size: 0.8rem;
                            span {
                                font-size: 1.8rem;
                            }
                        }
                    }
                    > div {
                        text-align: center;
                        text-transform: uppercase;
                        line-height: 1;
                        font-size: 0.7rem;
                        span {
                            font-weight: bold;
                            color: $color-link;
                            font-size: 1.4rem;  
                            display: block;
                            sup {
                                font-size: 0.5em;
                            }
                        }
                    }
                }
                &.impact {
                    .circle-chart__circle {
                        animation: circle-chart-fill 2s reverse;
                        transform: rotate(-90deg);
                        transform-origin: center;
                    }
                    .circle-chart__info {
                        animation: circle-chart-appear 2s forwards;
                        opacity: 0;
                        transform: translateY(0.3em);
                        fill: #fff;
                        .circle-chart__percent {
                            font-size: 9px;
                            font-weight: bold;
                        }
                        .circle-chart__subline {
                            font-size: 3px;
                        }
                    }
                    @keyframes circle-chart-fill {
                        to { stroke-dasharray: 0 100; }
                    }
                    @keyframes circle-chart-appear {
                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
                &.player-development {
                    .electives {
                        display: flex;
                        flex-direction: column;
                        @media(min-width: $breakpoint-sm) {
                            flex-direction: row;
                        }
                        @media(min-width: $breakpoint-md) {
                            flex-direction: column;
                        }
                        @media(min-width: $breakpoint-lg) {
                            flex-direction: row;
                        }
                        .button {
                            margin: 0.25rem 0;
                            width: 150px;
                            font-size: 0.8rem;
                            @media(min-width: $breakpoint-sm) {
                                width: auto;
                                margin: 0 0.5rem;
                            }
                            @media(min-width: $breakpoint-md) {
                                margin: 0.25rem 0;
                                width: 150px;
                            }
                            @media(min-width: $breakpoint-lg) {
                                width: 95px;
                                margin: 0 0.5rem;
                            }
                        }
                    }
                }
                &.charity {
                    .labeled-money {
                        max-width: 300px;
                    }
                }
                &.volunteer-hours {
                    .hours {
                        font-size: 6rem;
                        line-height: 1;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
footer {
    text-align: center;
    position: relative;
    font-size: 0.8rem;
    margin: 1rem 0;
    @media(min-width: $breakpoint-md) {
        margin-left: 200px;
    }
}